:root {
    --primary-color: #8dbff500;
    --secondary-color: #96acc400;
    --hover-color: #3597fa6b;
    --font-color: black;
    --font-light: rgb(92, 91, 91);
    --background-color: #f8f9fa;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

h1, h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar-brand img {
    margin-right: 10px;
}

.card {
    border: none;
}

.card-title {
    font-size: 1.25rem;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    color: var(--font-color);
}

.btn-primary:hover {
    background-color: var(--hover-color);
    border-color: var(--secondary-color);
    color: black;
}
.btn-primary:focus {
    background-color: var(--primary-color); 
    border: none;
    color: black;

}

.collapse {
    margin-top: 5px;
}

.p-1, .p-2 {
    color: gray;
}

#text-pre {
    max-width: 800px;
}

.modal-body img {
    max-width: 90%;
    height: auto;
}

.img-container {
    position: relative;
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--font-light);
    border: none;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-container:hover .btn-overlay {
    opacity: 1;
}
.btn-overlay:hover{
   
    background-color: black;
}
.btn-overlay i {
    font-size: 1.5rem;
}

p a {
    color: var(--font-light);
}
.btn-block {
    width: 100%;
    
}