body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1, h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    border: none;
}

.card-title {
    font-size: 1.25rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.collapse {
    margin-top: 10px;
}
